### **1. 시계열 예측과 정상성**

### **2. 통계적 정상성 검증**

In [3]:
#코드 12-1
import yfinance as yf

In [4]:
#코드 12-2
tsla = yf.download('TSLA', start='2018-01-01', end='2022-12-31')
tsla

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2018-01-02   21.368668   21.474001   20.733334   20.799999   65283000
2018-01-03   21.150000   21.683332   21.036667   21.400000   67822500
2018-01-04   20.974667   21.236668   20.378668   20.858000  149194500
2018-01-05   21.105333   21.149332   20.799999   21.108000   68868000
2018-01-08   22.427334   22.468000   21.033333   21.066668  147891000
...                ...         ...         ...         ...        ...
2022-12-23  123.150002  128.619995  121.019997  126.370003  166989700
2022-12-27  109.099998  119.669998  108.760002  117.500000  208643400
2022-12-28  112.709999  116.269997  108.239998  110.349998  221070500
2022-12-29  121.820000  123.570000  117.500000  120.389999  221923300
2022-12-30  123.180000  124.480003  119.750000  119.949997  157777300

[1259 rows x 5 columns]

In [ ]:
#코드 12-3
import pandas as pd
df_tsla = pd.DataFrame(tsla['Close'])

In [ ]:
#코드 12-4
import matplotlib.pyplot as plt
df_tsla.plot(figsize=(12.2, 6.4))

In [ ]:
#코드 12-5
from statsmodels.tsa.stattools import adfuller

print('ADF test with TSLA time-series')
ADF_result = adfuller(df_tsla.values)
#ADF 통계량
print('ADF Stats: %f' % ADF_result[0])
#p-값
print('p-value: %f' % ADF_result[1])
#임계값
print('Critical values:' )
for key, value in ADF_result[4].items():
  print('\t%s: %.4f' % (key, value))

In [ ]:
#코드 12-6
from statsmodels.tsa.stattools import kpss

print('KPSS test with TSLA time-series')
KPSS_result = kpss(df_tsla.values)
#KPSS 통계량
print('KPSS Stats: %f' % KPSS_result[0])
#p-값
print('p-value: %f' % KPSS_result[1])
#임계값
print('Critical values:' )
for key, value in KPSS_result[3].items():
  print('\t%s: %.4f' % (key, value))